extends ../partials/layout.pug
include ../mixins/shoe_card.pug

block content
  h1.text-center.m-2 Men's Running Shoes
  .container.d-flex
    // display a sidebar to filter shoes
    .container.w-25
      .container.border.border-primary.border-4
        h4.text-center.text-capitalize.mt-2 #{data['current_brand'] || 'All'} (#{data['count']})
        form(action='/data').d-flex.flex-column
          fieldset.form-group.justify-content-center
            for brand in data['brands']
              .form-check.p-1.px-4
                label.form-check-label.text-capitalize= brand
                input.form-check-input(type='checkbox', id=brand, value=brand name='brand')
          button(type='submit').btn.btn-outline-primary.btn-sm.m-2#filterBtn Filter 
    // display all shoes in groups of 4
    .container
      .card-group.m-2
        - for (let idx = 0; idx < data.count; idx++)
          - let shoe = data['shoes'][idx]
          +shoe_card(shoe)
          - if (idx % 4 == 3 && idx > 0)
            </div>
            <div class="card-group">
        </div>
    // pagination
    - const total_num_shoes = data['total_count'] || data['count']
    - const num_pages = Math.ceil(total_num_shoes / 100)
    - let pageNumber = 1
  .nav.d-flex.justify-content-center.m-3
    li.page-item
      a#page-back.page-link.border.border-dark <<
    while pageNumber <= num_pages
      li.page-item.border.border-dark
        a.page-link.specific-link= pageNumber
      - pageNumber++
    li.page-item
      a#page-forward.page-link.border.border-dark >>
